@import "../mixins.less";
@import "../variables.less";

.about__title {
  .no-indent;
  margin-bottom: 39px;

  .font(36px, 40px);
  font-weight: normal;
}
.about__list {
  .no-indent;

  display: flex;
  flex-direction: column;

  .no-mark;
}
.about__item {
  padding-left: 80px;
  margin-bottom: 26px;
  &:last-child {
    margin-bottom: 0;
  }

  position: relative;

  &::before {
    content: "";

    width: 60px;
    height: 60px;

    background-color: @green-1;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    left: 0;
  }
}
.about__item--benefit::before {
  background-image: url(../img/advantage-leaf.svg);
}
.about__item--powder::before {
  background-image: url(../img/advantage-powder.svg);
}
.about__item--cutlery::before {
  background-image: url(../img/advantage-dining.svg);
}
.about__item--clock::before {
  background-image: url(../img/advantage-clock.svg);
}
.about__text {
  .no-indent;

  .text-font;
  .font(14px, 18px);
}

@media (min-width: 785px) {
  .about__title {
    margin-bottom: 44px;

    .font(60px, 60px);
  }
  .about__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about__item {
    padding: 140px 0 30px;
    margin-bottom: 38px;
    &:nth-last-child(1), &:nth-last-child(2) {
      margin-bottom: 0;
    }

    box-sizing: border-box;
    width: 325px;
    min-height: 280px;


    &::before {
      width: 80px;
      height: 80px;

      top: 28px;
    }

    &::after {
      .font(280px, 280px);
      color: @grey-1;

      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }

    &:nth-child(1)::after {
      content: "1";

      right: 15px;
    }
    &:nth-child(2)::after {
      content: "2";
    }
    &:nth-child(3)::after {
      content: "3";
    }
    &:nth-child(4)::after {
      content: "4";
    }
  }
  .about__text {
    .font;

    width: 245px;
  }
}
@media (min-width: 1457px) {
  .about__item {
    margin-bottom: 0;
    padding: 140px 0 50px;

    width: auto;
    min-height: auto;

    &::after {
      top: -11px;
    }
  }
}
