@import "../mixins.less";
@import "../variables.less";


.additional-products__title {
  .no-indent;
  margin-bottom: 33px;

  .font(24px, 26px);
  font-weight: 400;
}
.additional-products__list {
  .no-indent;
  margin-bottom: 39px;

  .no-mark;
}
.additional-products__item {
  padding-top: 14px;
  margin-bottom: 17px;

  border-top: 1px solid @grey-3;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 17px;

    border-bottom: 1px solid @grey-3;
  }
}
.additional-products__item-title {
  .no-indent;
  margin-bottom: 13px;

  .font(16px, 16px);
  text-transform: uppercase;
  font-weight: 400;
}
.additional-products__features {
  .no-indent;
  margin-bottom: 14px;

  .text-font;
  .font(14px, 14px);
  color: @grey-5;

  display: flex;
  justify-content: space-between;
}
.additional-products__features-value {
  .no-indent;
}
.additional-products__present {
  .no-indent;
  padding: 185px 60px 44px;

  .text-font;
  .font(16px, 20px);
  color: white;
  text-align: center;

  box-sizing: border-box;

  background-color: @green-1;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url(../img/gift-photo-mobile@2x.jpg);
  }

  position: relative;

  &::before {
    content: "";

    width: 78px;
    height: 80px;

    background-image: url(../img/icon-gift.svg);
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 53px;
  }
}

@media (min-width: 785px) {
  .additional-products__title {
    margin-bottom: 79px;

    .font(36px, 36px);
  }
  .additional-products__list {
    margin-bottom: 69px;
  }
  .additional-products__item {
    padding: 26px 38px 27px;
    margin-bottom: 0;
    &:last-child {
      padding: 26px 38px 26px;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    border-left: 1px solid @grey-3;
    border-right: 1px solid @grey-3;
  }
  .additional-products__item-title {
    margin-bottom: 0;

    .font(20px, 20px);
  }
  .additional-products__features {
    margin-bottom: 0;

    .font(16px, 16px);
  }
  .additional-products__features-title {
    margin-right: 48px;
  }
  .additional-products__features-value {
    text-align: right;

    min-width: 44px;
  }
  .additional-products__btn {
    margin-top: 26px;
  }
  .additional-products__present {
    padding: 70px 125px 70px 425px;

    text-align: left;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../img/gift-photo-tablet@2x.jpg);
    }

    &::before {
      left: 120px;
    }
  }
}

@media (min-width: 1457px) {
  .additional-products {
    display: flex;
    flex-wrap: wrap;
  }
  .additional-products__list {
    margin-right: 80px;
    margin-bottom: 0;

    flex-grow: 1;
  }
  .additional-products__item {
    padding: 16px 0;
    &:last-child {
      padding: 16px 0;
    }

    border-left: none;
    border-right: none;

    align-items: center;
  }
  .additional-products__features {
    margin: 9px 40px 0 auto;

    width: 286px;
  }
  .additional-products__features-title {
    margin-right: auto;
  }
  .additional-products__features-value {
    text-align: left;
  }
  .additional-products__btn {
    margin-top: 0;
  }
  .additional-products__present {
    padding: 187px 42px 42px;

    text-align: center;

    width: 245px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../img/gift-photo-desktop@2x.jpg);
    }
  }
}
