@import "../mixins.less";
@import "../variables.less";

.btn {
  .no-indent;
  padding: 11px 0;
  box-sizing: border-box;

  display: inline-block;

  width: 100%;

  background: @green-1;

  border: none;

  .main-font;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;
  color: white;
}
.btn--cart {
  .font(16px, 20px);
}
.btn--show-more {
  background-color: @grey-1;

  .font(16px, 20px);
  color: @grey-5;
}

@media (min-width: 785px) {
  .btn {
    width: auto;
    font-size: 20px;
    padding: 18px 26px;
  }
  .btn--cart {
    width: 100%;

    padding: 9.5px 0;

    .font(16px, 20px);
  }
  .btn--show-more {
    width: 100%;

    padding: 9.5px 0;

    .font(16px, 20px);
  }
}
