@import "../mixins.less";
@import "../variables.less";

.btn {
  .no-indent;

  background: none;
  border: none;

  .main-font;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
}
.btn--cart {
  font-size: 16px;
}
