@import "../mixins.less";
@import "../variables.less";

.container {
  width: 280px;

  padding: 0 20px;
  margin: 0 auto;
}
.container--products-item {
  padding: 0 20px;
  margin: 0 auto;

  width: 280px;
}

@media (min-width: 785px) {
  .container {
    width: 708px;

    padding: 0 30px;
    margin: 0 auto;
  }
  .container--products {
    width: 708px;

    padding: 0 30px;
    margin: 0 auto;
  }
  .container--products-item {
    padding: 0;
    margin: 0;

    width: 324px;
  }
}

@media (min-width: 1457px) {
  .container {
    width: 1220px;

    padding: 0 110px;
    margin: 0 auto;
  }
  .container--products {
    width: 1220px;

    padding: 0 110px;
    margin: 0 auto;
  }
}
