@import "../mixins.less";
@import "../variables.less";

.contacts {
  background-color: @grey-1;
}
.contacts--index {
  background-color: white;
}
.contacts__header {

}
.contacts__title {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
}
.contacts__adresse {
  .no-indent;

  .text-font;
  font-size: 14px;
  line-height: 20px;
  color: @grey-5;
}
.contacts__map-wrap {

}
