@import "../mixins.less";
@import "../variables.less";

.example {
  padding: 27px 0 36px;

  background-color: #EAEAEA;
}
.example__title {
  .no-indent;
  margin-bottom: 34px;

  .font(36px, 40px);
  font-weight: normal;
}
.example__text {
  .no-indent;
  margin-bottom: 22px;

  .font(14px, 18px);
  font-family: "Arial", sans-serif;
}
.example__results {
  .no-indent;
  margin-bottom: 12px;

  display: flex;
  justify-content: space-between;
}
.example__result-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 125px;
}
.example__results-title {
  padding: 15px 7px;

  .font(24px, 24px);
  text-transform: uppercase;
  text-align: center;

  box-sizing: border-box;
  width: 100%;

  border: 1px solid @grey-3;
  border-radius: 3px;
}
.example__results-text {
  .no-indent;
  padding: 0 7px;

  .text-font;
  .font(12px, 12px);
  color: @grey-5;
  text-align: center;

  box-sizing: border-box;
  width: 87px;

  background-color: #EAEAEA;

  transform: translateY(-0.6667em);
}
.example__results-expenses-wrap {
  margin-bottom: 42px;
}
.example__expenses {
  .no-indent;

  .font(14px, 20px);
  text-transform: uppercase;
  text-align: center;
}
.example__img-range-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.example__img-wrap {
  display: flex;

  width: 100%;
}
.example__img {
  .no-indent;
  margin-bottom: 14px;

  display: flex;

  min-height: 250px;
  width: 100%;
}
.example__img--fat-cat {
  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: -19px -10px;
  background-size: cover;
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url(../img/before-mobile@2x.png);
  }
}
.example__img--thin-cat {
  background-image: url("../img/after-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: -25px 0;
  background-size: cover;
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url(../img/after-mobile@2x.png);
  }
}
.example__img--unshowed {
  display: none;
}
.example__form {
  display: flex;
  align-items: center;
}
.example__form-lable {
  .font(16px, 20px);
  text-transform: uppercase;
}

@media (min-width: 785px) {
  .example {
    padding: 0 0 67px;

    background-color: white;
    background-image: linear-gradient(to top, #EAEAEA 464px, transparent 464px);
  }
  .example__title {
    margin-bottom: 65px;

    .font(60px, 60px);
  }
  .example__text {
    margin-bottom: 52px;

    .font;
  }
  .example__results-expenses-wrap {
    margin-bottom: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .example__results {
    width: 365px;
  }
  .example__result-wrap {
    width: 160px;
  }
  .example__results-title {
    padding: 15px 7px 19px;

    .font(30px, 37px);
  }
  .example__results-text {
    .font(14px, 14px);

    max-width: 142px;
    width: auto;

    background-color: white;
  }
  .example__expenses {
    margin-bottom: auto;
    margin-top: 6px;

    .font(20px, 30px);
    text-align: right;

    width: 190px;
  }
  .example__img {
    display: block;
    margin-bottom: 16px;

    min-height: 520px;
  }
  .example__img--unfull {
    display: none;
  }
  .example__img--fat-cat {
    background-image: url(../img/before-tablet@1x.png);
    background-repeat: no-repeat;
    background-position: 15px -4px;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../img/before-tablet@2x.png);
    }
  }
  .example__img--thin-cat {
    background-image: url(../img/after-tablet@1x.png);
    background-repeat: no-repeat;
    background-position: right -1px top -3px;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../img/after-tablet@2x.png);
    }
  }
  .example__form-lable {
    padding: 0 0 6px;

    .font(20px, 20px);

    border-bottom: 1px dotted #B8B8B8;
  }
  .example__form:hover .example__form-lable {
    border-bottom: 1px solid #919191;
  }
  .example__form:active .example__form-lable {
    border-bottom: none;
  }
}

@media (min-width: 1457px) {
  .example {
    padding: 0;

    background-image: linear-gradient(transparent 190px, #EAEAEA 190px);
  }
  .example__left-column {
    display: flex;
    flex-direction: column;

    width: 440px;
    min-height: 585px;
  }
  .example__title {
    padding-top: 54px;
    margin-bottom: 148px;
  }
  .example__text {
    margin-bottom: 67px;

    width: 440px;
  }
  .example__img-range-wrap {
    width: 650px;
  }
  .example__img {
    margin-bottom: 13px;
  }
  .example__results-expenses-wrap {
    margin-bottom: 70px;

    flex-direction: column;
    align-items: flex-start;
  }
  .example__results {
    margin-bottom: 35px;
  }
  .example__results-text {
    background: #EAEAEA;
  }
  .example__expenses {
    width: auto;
  }
  .example__expenses-price {
    margin-left: 60px;
  }
  .example__img-wrap {
    width: 100%;
  }
  .example__img--fat-cat {
    width: 365px;

    background-image: url("../img/before-desktop@1x.png");
    background-position: 0 0;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../img/before-desktop@2x.png);
    }
  }
  .example__img--thin-cat {
    width: 285px;

    background-image: url("../img/after-desktop@1x.png");
    background-position: right -40px top 0;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../img/after-desktop@2x.png);
    }
  }
  .example__img--full {
    width: 100%;
  }
  .example__form {
    margin-left: auto;
    margin-top: 25px;
  }
}
