@import "../mixins.less";
@import "../variables.less";

.form-program__annotation {
  .no-indent;
  margin-bottom: 37px;

  .font(14px, 18px);
  text-transform: uppercase;

  width: 230px;
}
.form-program__group-form {
  .no-indent;

  border: none;
}
.form-program__group-form--border {
  border-bottom: 1px solid #D9D9D9;
  border-top: 1px solid #D9D9D9;

  padding: 21px 0;

  margin-bottom: 25px;
}
.form-program__group-form--contacts {
  margin-bottom: 25px;
}
.form-program__group-form--comment {
  margin-bottom: 25px;
}
.form-program__group-form--main-info {
  margin-bottom: 23px;
}
.form-program__group-form--additional {
  margin-bottom: 32px;
}
.form-program__group-form-title {
  .no-indent;
  margin-bottom: 34px;

  .font(24px, 26px);
}
.form-program__input-wrap {
  .no-indent;

  margin-bottom: 14px;

  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  position: relative;
}
.form-program__input-wrap--change {
  height: 30px;

  margin-bottom: 12px;


  &:active {
    opacity: 0.3;
  }
}
.form-program__logo {
  position: absolute;

  right: 15px;
  top: 14px;
}
.form-program__btn {
  margin-bottom: 20px;
}
.form-program__footnote {
  .no-indent;

  .text-font;
  .font(14px);
  text-align: center;
}

@media (min-width: 785px) {
  .form-program__annotation {
    .font(20px, 30px);

    width: 325px;

    margin-bottom: 65px;
  }
  .form-program__group-form--border {
    border: 1px solid #D9D9D9;

    padding: 25px 28px;
    margin-bottom: 72px;
  }
  .form-program__group-form--contacts {
    margin-bottom: 67px;
  }
  .form-program__group-form--comment {
    margin-bottom: 61px;
  }
  .form-program__group-form--main-info {
    margin-bottom: 72px;
  }
  .form-program__group-form--additional {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 23px;
  }
  .form-program__group-form-title {
    .font(36px, 36px);

    margin-bottom: 75px;
  }
  .form-program__group-form-title--additional {
    margin-bottom: 58px;
  }
  .form-program__input-wrap {
    margin-bottom: 20px;
  }
  .form-program__input-wrap--change {
    height: 40px;

    margin-bottom: 13px;
  }
  .form-program__logo {
    top: 17px;
  }
  .form-program__input-wrap--additional {
    width: 287px;
    box-sizing: border-box;

    margin-bottom: 31px;
  }
  .form-program__btn {
    margin-bottom: 0;
  }
  .form-program__footnote {
    display: inline-block;

    vertical-align: 50%;

    margin-left: 60px;

    .font(16px, 16px);
  }
}

@media (min-width: 1457px) {
  .form-program__cat-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .form-program__annotation {
  }
  .form-program__group-form--contacts {
    width: 100%;

    display: flex;
    justify-content: space-between;
  }
  .form-program__group-form--border {
    width: 568px;
    box-sizing: border-box;

    margin-bottom: 68px;
  }
  .form-program__group-form--comment {
    margin-bottom: 64px;

    width: 100%;
  }
  .form-program__group-form--main-info {
    width: 568px;
    box-sizing: border-box;

    margin-bottom: 0;
  }
  .form-program__group-form--additional {
    width: 100%;
    margin-bottom: 30px;
  }
  .form-program__group-form-title {
  }
  .form-program__group-form-title--additional {

  }
  .form-program__input-wrap {
  }
  .form-program__input-wrap--change {
  }
  .form-program__logo {
    right: 18px;
  }
  .form-program__input-wrap--additional {
    width: 246px;
  }
  .form-program__input-wrap--contacts {
    width: 570px;

    margin-bottom: 0;
  }
  .form-program__footnote {
    margin-right: auto;
    margin-left: 80px;

    align-self: center;
  }
}
