@import "../mixins.less";
@import "../variables.less";

.form-program {

}
.form-program__annotation {
  .no-indent;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.form-program__cat-form {

}
.form-program__input-wrap {
  .no-indent;
}
.form-program__group-form {
  .no-indent;

  border: none;
}
.form-program__group-form-title {
  .no-indent;

  font-size: 24px;
  line-height: 26px;
}
.form-program__footnote {
  .text-font;
  font-size: 14px;
}
