@import "../mixins.less";
@import "../variables.less";

.input-text {
  .no-indent;
  padding: 0 15px;
  margin-left: 13px;

  .main-font;
  .font(16px, 18px);
  text-transform: uppercase;
  color: @grey-5;
  &::placeholder {
    color: @grey-5;
  }

  border-radius: 0;
  border: 1px solid #E7E7E7;

  height: 43px;

  flex-grow: 1;
}
.input-textarea {
  &:extend(.input-text);
  &::placeholder {
    color: @grey-5;
  }
  resize: none;
}

@media (min-width: 785px) {
  .input-text {
    .font(20px);

    margin-left: 21px;
  }
}
