@import "../mixins.less";
@import "../variables.less";

@keyframes stretching {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(0);
  }
}

.main-nav {
  display: none;

  width: 100%;

  position: absolute;
  left: 0;
  top: 66px;
  z-index: 1;

  animation-name: stretching;
  animation-duration: 1s;
}
.main-nav--open {
  display: block;
}
.main-nav--no-js {
  display: block;

  position: static;
}
.main-nav__toggle {
  .no-indent;

  width: 26px;
  height: 26px;

  border: none;
  background: none;

  position: relative;
}
.main-nav__toggle--no-js {
  opacity: 0.3;
}
.main-nav__list {
  .no-indent;

  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;

  .no-mark;
}
.main-nav__item {
  .font(20px, 20px);
  text-transform: uppercase;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 66px;

  border-top: 1px solid #E6E6E6;

  background-color: white;
}
.main-nav__link--inactive {
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 785px) {
  .main-nav {
    display: flex;
    position: static;

    width: auto;

    animation: none;
  }
  .main-nav__toggle {
    display: none;
  }
  .page-header__logo-text {
    display: none;
  }
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 520px;

    position: static;
  }
  .main-nav__item {
    margin-right: 35px;

    .font(18px, 24px);
    font-weight: normal;

    border-top: none;

    &:last-child {
      margin-right: 0;
    }
  }
  .main-nav__link {
    padding: 7px 0;
  }
  .main-nav__link--active {
    margin-bottom: -2px;

    border-bottom: 2px solid @green-1;
  }
}

@media (min-width: 1457px) {
  .main-nav__item {
    margin-right: 35px;

    font-size: 20px;

    background-color: transparent;
  }
  .main-nav__item--white {
    color: white;
  }
  .main-nav__item--white .main-nav__link--active {
    border-bottom: 2px solid white;
  }
}
