@import "../mixins.less";
@import "../variables.less";

.page-footer__logo-text {

}
.page-footer__social {
  .no-indent;
}
.page-footer__social-link {

}
.page-footer__social-link--vk {

}
.page-footer__social-link--insta {

}
.page-footer__social-link--fb {

}
.footer__copyright {
  .no-indent;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: @grey-5;
}
.footer__copyright-link {

}
