@import "../mixins.less";
@import "../variables.less";

.page-main--border {
  border-top: 1px solid #D9D9D9;
}

.page-main__promo {
  margin-bottom: 22px;
}
.page-main__programs {
  margin-bottom: 25px;
}
.page-main__about {
  margin-bottom: 48px;
}

.page-main__title {
  .no-indent;
  padding-top: 25px;
  margin-bottom: 39px;

  .font(36px, 36px);
  font-weight: 400;
}
.page-main__products {
  margin-bottom: 27px;
}
.page-main__additional-products {
  margin-bottom: 35px;
}

.page-main__form-program {
  margin-bottom: 27px;
}

@media (min-width: 785px) {
  .page-main--border {
    border-top: none;
  }

  .page-main__promo {
    margin-bottom: 0;
  }
  .page-main__programs {
    margin-bottom: 45px;
  }
  .page-main__about {
    margin-bottom: 33px;
  }

  .page-main__title {
    .no-indent;
    padding-top: 35px;
    margin-bottom: 92px;

    .font(60px, 60px);
  }
  .page-main__title--form {
    margin-bottom: 55px;
  }
  .page-main__products {
    margin-bottom: 70px;
  }
  .page-main__additional-products {
    margin-bottom: 76px;
  }

  .page-main__form-program {
    margin-bottom: 72px;
  }
}

@media (min-width: 1457px) {
  .page-main__title {
    padding-top: 0px;
    margin-bottom: 85px;
  }

  .page-main__promo {
    margin-bottom: 53px;
  }
  .page-main__about {
    margin-bottom: 21px;
  }
  .page-main__programs {
    margin-bottom: 73px;
  }

  .page-main__title--form {
    margin-bottom: 55px;
  }
  .page-main__products {
    margin-bottom: 77px;
  }
  .page-main__additional-products {
    margin-bottom: 87px;
  }

  .page-main__form-program {
    margin-bottom: 81px;
  }
}
