@import "../mixins.less";
@import "../variables.less";

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 35px 40px 22px;
}
.page-footer__logo-text {
  margin-bottom: 25px;
}
.page-footer__social {
  display: flex;
  justify-content: center;
  .no-indent;

  width: 100%;

  text-align: center;

  padding: 15px 0;

  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}
.page-footer__social-link {
  display: inline-block;
  width: 33px;
  height: 33px;

  margin-right: 22px;

  &:last-child {
    margin-right: 0;
  }

  background-repeat: no-repeat;
  background-position: center;

  filter: grayscale(1) brightness(65%);
}
.page-footer__social-link--vk {
  background-size: 23px 16px;
  background-image: url(../img/icon-vk.svg);
}
.page-footer__social-link--insta {
  background-size: 16px 16px;
  background-image: url(../img/icon-insta.svg);
}
.page-footer__social-link--fb {
  background-size: 18px 18px;
  background-image: url(../img/icon-fb.svg);
}
.footer__copyright {
  .no-indent;
  padding: 20px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  .text-font;
  font-size: 16px;
  color: @grey-5;
}
.footer__copyright-link {

}
.footer__copyright-logo {
  display: inline-block;

  width: 30px;
  height: 36px;

  background-repeat: no-repeat;
  background-image: url("../img/htmlacademy.svg");

  filter: grayscale(1) brightness(65%);
}

@media (min-width: 785px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 61px;
  }
  .page-footer__logo-text-wrap {
    width: 165px;

    display: flex;
  }
  .page-footer__logo-text {
    margin-bottom: 0;
  }
  .page-footer__social {
    width: auto;
  }
  .footer__copyright {
    width: 165px;

    padding: 0;
  }
  .page-footer__social {
    border: none;
  }
  .page-footer__social-link {
    width: 33px;
    height: 33px;
  }
  .page-footer__social-link--vk {
    background-size: 30px 22px;
  }
  .page-footer__social-link--insta {
    background-size: 23px 23px;
  }
  .page-footer__social-link--fb {
    background-size: 20px 28px;
    background-position: left;
  }
}
@media (min-width: 1457px) {
  .page-footer {
    padding-top: 41px;
  }
}
