@import "../mixins.less";
@import "../variables.less";

.products {

}
.products__list {
  .no-indent;
  .no-mark;
}
.products__item {

}
.products__item-title {
  .no-indent;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.products__item-name {

}
.products__item-weight {

}
.products__img {

}
.products__features {
  border-collapse: collapse;

  .text-font;
  font-size: 12px;
  line-height: 16px;
  color: @grey-5;
}
.products__features-title {
  .no-indent;
}
.products__features-text {
  .no-indent;
  text-align: right;
}
