@import "../mixins.less";
@import "../variables.less";

.programs__list {
  .no-mark;
  .no-indent;
}
.programs__item {
  background-color: @grey-1;
}
.programs__title {
  .no-indent;

  font-size: 24px;
  line-height: 37px;
}
.programs__text {
  .no-indent;

  color: @grey-5;
  font-size: 14px;
  font-family: "Arial", sans-serif;
}
.programs__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
