@import "../mixins.less";
@import "../variables.less";

.programs__list {
  .no-indent;

  display: flex;
  flex-direction: column;

  .no-mark;
}
.programs__item {
  padding: 30px 20px 14px;
  margin-bottom: 19px;
  &:last-child {
    margin-bottom: 0;
  }

  background-color: @grey-1;
}
.programs__title {
  .no-indent;
  padding-left: 70px;
  margin-bottom: 30px;

  .font(24px);
  font-weight: normal;
  text-transform: uppercase;

  position: relative;

  &::after {
    content: "";

    position: absolute;
    left: 0;
  }
  &::before {
    content: "";

    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-color: @green-1;

    position: absolute;
    left: 2px;
    bottom: -8px;
  }
}
.programs__title--slim::after {
  width: 36px;
  height: 50px;

  background-image: url(../img/icon-cat-slim.svg);
  background-repeat: no-repeat;
  background-position: center;

  left: 9px;
  bottom: -5px;
}
.programs__title--pro::after {
  width: 67px;
  height: 28px;

  background-image: url(../img/icon-cat-pro.svg);
  background-repeat: no-repeat;
  background-position: center;

  left: -7px;
  bottom: 4px;
}
.programs__text {
  .no-indent;
  margin-bottom: 11px;
  padding-bottom: 21px;

  .text-font;
  .font(14px, 18px);
  color: @grey-5;

  border-bottom: 1px solid #D9D9D9;
}
.programs__link {
  padding: 9px 50px 9px 0;

  .font(16px, 16px);
  text-transform: uppercase;

  display: inline-block;

  position: relative;

  &::after {
    content: "";

    width: 32px;
    height: 11px;

    background-image: url('../img/icon-right-arrow-long.svg');
    background-repeat: no-repeat;
    background-position: left;

    position: absolute;
    right: 3px;
    top: 12px;
  }

  &:hover {
    &::after {
      background-image: url('../img/icon-right-arrow-verylong.svg');
    }
  }
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 785px) {
  .programs__item {
    padding: 77px 52px 53px;
    margin-bottom: 30px;
  }
  .programs__title {
    margin-bottom: 25px;
    padding-left: 0;

    .font(36px, 36px);

    &::before {
      width: 200px;
      height: 200px;

      left: auto;
      right: 10px;
      bottom: auto;
      top: 15px;
    }
  }
  .programs__title--slim::after {
    width: 140px;
    height: 192px;

    left: auto;
    right: 41px;
    bottom: auto;
    top: 4px;
  }
  .programs__title--pro::after {
    width: 268px;
    height: 112px;

    left: auto;
    right: -24px;
    bottom: auto;
    top: 58px;
  }
  .programs__text {
    margin-bottom: 47px;
    padding-bottom: 0;

    .font;

    width: 340px;

    border: none;
  }
  .programs__link {
    padding-right: 60px;

    .font(20px, 20px);

    &::after {
      right: 2px;
      top: 14px;
    }
  }
}

@media (min-width: 1457px) {
  .programs__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .programs__item {
    margin-bottom: 0;

    box-sizing: border-box;
    width: 570px;
  }
  .programs__title {
    padding-left: 162px;
    margin-bottom: 74px;

    &::before {
      width: 100px;
      height: 100px;

      left: 0;
      bottom: auto;
      top: -30px;
    }
  }
  .programs__title--slim::after {
    width: 70px;
    height: 97px;

    left: 15px;
    bottom: auto;
    top: -36px;
  }
  .programs__title--pro::after {
    width: 134px;
    height: 56px;

    left: -19px;
    bottom: auto;
    top: -10px;
  }
  .programs__text {
    margin-bottom: 22px;

    width: auto;
  }
  .programs__link {
    &::after {
      right: 0px;
    }
  }
}
