@import "../mixins.less";
@import "../variables.less";

.promo {
  background-color: @green-2;
  color: white;
}
.promo__title {
  .no-indent;

  font-size: 36px;
  font-weight: 300;
}
.promo__slogan {
  .no-indent;

  text-transform: uppercase;
}
.promo__img-wrap {
  .no-indent;

}
.promo__img {

}
.promo__get-program {

}
