@import "../mixins.less";
@import "../variables.less";

.wrapper {
  width: 280px;

  padding: 0 20px;
  margin: 0 auto;
}
.wrapper--contacts {
  width: 280px;

  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 785px) {
  .wrapper {
    margin: 0 auto;
    padding: 0 30px;

    width: 708px;
  }
  .wrapper--promo {
    box-sizing: border-box;
    padding: 0 88px;
  }
  .wrapper--example {
    border-top: 1px solid #E6E6E6;

    padding-top: 42px;
  }
  .wrapper--contacts {
    margin: 0 auto;
    padding: 0 30px;

    width: 628px;
  }
}

@media (min-width: 1457px) {
  .wrapper {
    margin: 0 auto;
    padding: 0 80px;

    width: 1220px;
  }
  .wrapper--example {
    display: flex;
    justify-content: space-between;

    border-top: none;
  }
}
