.no-indent {
  margin: 0;
  padding: 0;
}
.no-mark {
  list-style: none;
}
.text-font {
  font-family: "Arial", sans-serif;
}
.main-font {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
}
.main-font-b {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: bold;
}
